*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
}

section {
  height: 100vh;
  padding-top: 75px;
}

.home {
  background-color: #222832;
  padding-top: 50px;
}

/* Navbar section */

.navbar {
  display: flex !important;
  justify-content: center !important;
  width: 100%;
  text-align: right;
  font-size: 20px;
  position: fixed !important;
  top: 0px;
  background-color: #13161b;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  font-family: var(--font-irish-grover);
  background-color: inherit;
  padding-top: 10px;
  padding-bottom: 0px;
}

.navbar li {
  color: #ffe500;
  list-style: none;
  background-color: inherit;
}

/* Image and Description */

.intro {
  padding: 50px;
  display: flex;
  gap: 100px;
  margin: 50px;
  justify-content: space-around;
}

.profile-image {
  border-radius: 55px;
  background-color: var(--color-gold);
  width: 410px;
  height: 600px;
  object-fit: cover;
}

.me {
  width: 1000px;
  font-family: var(--font-irish-grover);
  color: #ffe500;
  padding: 100px 0px;
}

.greet {
  font-size: 35px;
}

.myname {
  font-size: 50px;
  padding: 25px 100px;
}

.desc {
  font-size: 25px;
}

/* About Section*/

.about-me {
  background-color: #31363f;
}

.about-title {
  font-size: 50px;
  font-family: var(--font-irish-grover);
  color: #ffe500;
  padding-left: 75px;
}

.all-info {
  display: flex;
  padding-top: 25px;
  padding-left: 110px;
  gap: 200px;
}

.info {
  flex: 1;
}

.skill {
  flex: 2;
}

.personal {
  font-size: 35px;
  font-family: var(--font-irish-grover);
  color: #d9d9d9;
}

.information {
  font-size: 35px;
  font-family: var(--font-irish-grover);
  color: #ffe500;
}

.identity {
  font-family: var(--font-irish-grover);
  color: #ffe500;
  list-style: none;
  padding: 50px 0px;
}

.identity li {
  font-size: 25px;
  margin-bottom: 15px;
}

.identity span {
  font-family: var(--font-irish-grover);
  color: #d9d9d9;
}

.skill-title {
  padding-left: 450px;
  font-family: var(--font-irish-grover);
  color: #ffe500;
  justify-content: space-around;
}

.ability {
  padding: 10px;
}

.ability-title {
  font-family: var(--font-irish-grover);
  color: #ffe500;
  font-size: 30px;
  padding-left: 50px;
}

.ability span {
  font-family: var(--font-irish-grover);
  color: #ffe500;
  font-size: 20px;
}

/* Experience and Education */
.experience {
  background-color: #222832;
}

.experience-title {
  color: #ffe500;
  font-family: var(--font-irish-grover);
  padding: 70px 0px 0px 730px;
}

.project {
  display: flex;
  padding: 75px 50px 0px 50px;
  gap: 75px;
}

.project1 span {
  color: #ffe500;
  font-family: var(--font-irish-grover);
  font-size: 25px;
}

.project2 span {
  color: #ffe500;
  font-family: var(--font-irish-grover);
  font-size: 25px;
}

.project-title {
  color: #ffe500;
  font-family: var(--font-irish-grover);
  font-size: 35px;
  padding-top: 30px;
  padding-left: 95px;
}

.project-title span {
  color: #d9d9d9;
  font-family: var(--font-irish-grover);
  font-size: 35px;
}

/* Contact Me section */
.contact {
  background-color: #030303;
  height: 50vh;
}

.all-contact {
  display: flex;
}

.contact-title {
  display: flex;
  color: #ffe500;
  font-family: var(--font-irish-grover);
  padding-left: 800px;
  font-size: 50px;
}

.contact-title span {
  color: #d9d9d9;
  font-family: var(--font-irish-grover);
  padding-left: 15px;
}

.contact-me {
  padding-left: 100px;
  flex: 1;
}

.myinfo {
  color: #d9d9d9;
  font-family: var(--font-irish-grover);
  font-size: 35px;
}

.myinfo span {
  color: #ffe500;
  font-family: var(--font-irish-grover);
  font-size: inherit;
}

.my-info p {
  color: #ffe500;
  font-family: var(--font-irish-grover);
  font-size: 20px;
}

.your-info {
  flex: 2;
}

.name {
  display: flex;
  padding-left: 75px;
  gap: 25px;
}

.email {
  display: flex;
  padding: 20px 0px 0px 100px;
}

.message {
  display: flex;
  padding: 20px 0px 0px 100px;
  width: 78%;
}

.message textarea {
  width: inherit;
  background: #646363;
  border-radius: 103.5px;
}

input,
textarea {
  padding: 20px;
  color: white;
}

.input {
  background: #646363;
  border: none;
  border: solid 1px;
  border-radius: 103.5px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d9d9d9;
  opacity: 1;
  text-align: center;
  font-family: var(--font-irish-grover);
  font-size: 25px;
  padding: 20px;
}

.btn {
  padding-left: 360px !important;
}

.submit {
  background: #ffe500;
  border: solid 1px;
  border-radius: 35px;
  width: 150px;
  height: 50px;
  color: #030303;
  font-family: var(--font-irish-grover);
  font-size: 20px;
  text-align: center !important;
  padding-top: 10px;
}